:root {
    --bg-colour: #2B3942;
    --text-colour-main: #E1F2BD;
    --text-colour-alt: #F59078; 
    --link-colour: #F2C879;
    --link-colour-visited: #F26B83;
}

h1 {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
    color: var(--link-colour-visited);
}

h2, h3, h4, h5, p, li, a {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-colour-main);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

h4 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

p, a {
    font-size: 1rem;
}

a {
    color: var(--link-colour);
}

a:visited {
    color: var(--link-colour-visited);
}

a:hover {
    cursor: pointer;
    color: var(--link-colour-visited);
}

a:visited:hover {
    color: var(--link-colour);
}

li {
    list-style-type: none;
    padding-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    padding-left: 1.5em;
}

nav ul {
   padding-inline-start: 20px;
   font-size: 0.75rem;
   margin: 0px;
}

nav li {
    padding-bottom: 0px;
}

nav li a {
    font-size: 0.75rem;
}

nav li a:visited {
    color: var(--link-colour);
}

nav li a:visited:hover {
    color: var(--link-colour-visited);
}

ul {
    padding-inline-start: 0px;
}

body {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-colour);
}

div.sidebar {
    width: 15%;
    margin: 10px;
    height: fit-content;
    position: sticky;
    top: 20px;
}

div.mainPage {
    margin: 10px;
    width: 70%;
}

div.profile {
    display: flex;
    flex-direction: column;
}

.profile img {
    max-width: 60%;
    outline: 2px solid var(--link-colour-visited);
    border-radius: 50%;
    align-self: center;
}

a.likesInfoToggle {
    vertical-align: top;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-colour-main);
}

.recent_likes_span:hover div {
    display: block;
}

.recent_likes_span div {
    background-color: #E1F2BD;
    border-radius: 20%;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    position: absolute;
    top: -30px;
    left: 20px;
}

.recent_likes_span p {
    color: #2B3942;
    font-size: 0.5rem;
}

a.recent_like_title {
    display: block;
    padding-left: 2%;
    font-size: 1.2rem;
    width: fit-content;
}

div.recent_like_details {
    margin: 2%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

div.recent_like_details p {
    margin: 0px;
}

hr {
    border-color: var(--text-colour-main);
}

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column-reverse;
    }

    div.sidebar {
        width: 100%;
        position: relative;
    }

    div.mainPage {
        width: 100%;
    }

    div.profile {
        flex-direction: row;
    }

    div.profile h3 {
        display: none;
    }

    div.profile img {
        max-width: 20%;
        margin-right: 5%;
    }
}