<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Matheus Duncan Blog</title>
        <link rel="stylesheet" href="../static/base.css" />
        <link rel="icon" href="../static/images/favicon.ico" />
        <script src="https://kit.fontawesome.com/4b821a89f2.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jura:wght@300..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="sidebar">
            <div class="profile">
                <img srcset="../static/images/profile.webp" type="image/webp" alt="profile" />
                <h4>Matheus Duncan</h4>
                <ul>
                    <li>CS @ University of Alberta (2019-2024)</li>
                    <li>Prev Jr. Systems Developer @ Co-Operators</li>
                    <li>
                        <a href="https://www.linkedin.com/in/matheus-duncan" target="_blank" rel="noreferrer">
                            <i class="fa-brands fa-linkedin">&nbsp;</i>LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Matheus-Du" target="_blank" rel="noreferrer">
                            <i class="fa-brands fa-square-github">&nbsp;</i>GitHub
                        </a>
                    </li>
                    <li>
                        <a href="mailto:matheus@matheusdu.dev">
                            <i class="fa-solid fa-envelope">&nbsp;</i>Mail
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mainPage">
            <h1>Blog</h1>
        </div>
        <div class="sidebar">
            <nav>
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/blog">Blog</a>
                <a href="/bookshelf">Bookshelf</a>
            </nav>
        </div>
    </body>
</html>