<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bookshelf - Matheus Duncan</title>
        <meta name="description" content="Collection of books I've recently read and reviewed.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/base.css" />
        <link rel="icon" href="../static/images/favicon.ico" />
        <script src="https://kit.fontawesome.com/4b821a89f2.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jura:wght@300..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="sidebar">
            <div class="profile">
                <img srcset="../static/images/profile.webp" type="image/webp" alt="profile" />
                <h4>Matheus Duncan</h4>
                <ul>
                    <li>CS @ University of Alberta (2019-2024)</li>
                    <li>Prev Jr. Systems Developer @ Co-Operators</li>
                    <li>
                        <a href="https://www.linkedin.com/in/matheus-duncan" target="_blank" rel="noreferrer">
                            <i class="fa-brands fa-linkedin">&nbsp;</i>LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Matheus-Du" target="_blank" rel="noreferrer">
                            <i class="fa-brands fa-square-github">&nbsp;</i>GitHub
                        </a>
                    </li>
                    <li>
                        <a href="mailto:matheus@matheusdu.dev">
                            <i class="fa-solid fa-envelope">&nbsp;</i>Mail
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mainPage">
            <h1>Bookshelf</h1>
            <div class="construction">
                <img src="../../static/images/construction-sign.gif" alt="construction sign">
                <p>This page is currently under construction!<br/><br/>
                    My plan for this page is to have a list of recently-read books that show my rating, dates read, and review.
                    I'll also have a tag feature that allows visitors to filter what books they're seeing based on e.g. genre.
                    This is mostly just a place for me to work on using the Google Books API and implement some more backend features,
                    i.e. a CLI tool to add new books to the DB and have as much of this process automated as possible.<br/><br/>
                    If you still want to see what I've been reading, checkout my <a href="https://www.goodreads.com/user/show/160707885-matheus">goodreads</a>.
                </p>
            </div>
        </div>
        <div class="sidebar">
            <nav>
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/blog">Blog</a>
                <a href="/bookshelf">Bookshelf</a>
            </nav>
        </div>
    </body>
</html>