<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Projects - Matheus Duncan</title>
        <meta name="description" content="Short writeups on technical projects I've worked on and want to talk about.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/base.css" />
        <link rel="icon" href="../static/images/favicon.ico" />
        <script src="https://kit.fontawesome.com/4b821a89f2.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jura:wght@300..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="sidebar">
            <div class="profile">
                <img srcset="../static/images/profile.webp" type="image/webp" alt="profile" />
                <h4>Matheus Duncan</h4>
                <ul>
                    <li>CS @ University of Alberta (2019-2024)</li>
                    <li>Prev Jr. Systems Developer @ Co-Operators</li>
                    <li>
                        <a href="https://www.linkedin.com/in/matheus-duncan" target="_blank" rel="noreferrer">
                            <i class="fa-brands fa-linkedin">&nbsp;</i>LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Matheus-Du" target="_blank" rel="noreferrer">
                            <i class="fa-brands fa-square-github">&nbsp;</i>GitHub
                        </a>
                    </li>
                    <li>
                        <a href="mailto:matheus@matheusdu.dev">
                            <i class="fa-solid fa-envelope">&nbsp;</i>Mail
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mainPage">
            <h1>Projects</h1>
            <div class="construction">
                <img src="../../static/images/construction-sign.gif" alt="construction sign">
                <p>This page is currently under construction!<br/><br/>
                    My plan for this page is to have some writeups on the programming projects I've worked on over the last few years.
                    I intend for it to be more of an exercise in technical post-mortems and write about things that wouldn't really
                    make sense in a project ReadMe. The main point is just to get some experience writing about technical things with
                    a focus on making it comprehensible to people with no prior knowledge on them. Anything more detailed will probably
                    be in the Blog section.<br/><br/>
                    If you still want to see what I've been working on, checkout my <a href="https://github.com/Matheus-Du">GitHub</a>.
                </p>
            </div>
        </div>
        <div class="sidebar">
            <nav>
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/blog">Blog</a>
                <a href="/bookshelf">Bookshelf</a>
            </nav>
        </div>
    </body>
</html>